*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
body {
  background: url('https://cdn.waifu.im/7559.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 600px) {
  .container {
      max-width: 1000px;
  }
}

.form-container {
  margin-top: 2rem;
}

.form-content {
  padding: 4rem 2rem;
}

h5 {
  margin-bottom: 2rem;
}

.btn {
  width: 100%;
  margin-bottom: 10px;
}

.google-btn {
  background-color: #dd4b39;
  color: white;
}

#main{
  width: 100%;
  height: 100%;
  background-color: #dd4b39;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
}
#main h1{
  font-size: 4vw;
  
}
#main h6{
  font-size: 3vw;
}